* {
margin: 0;
padding: 0;
}
a{text-decoration: none;}
ul{list-style: none;}
@font-face {
  font-family: dancingScript;
  src: url(/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
body {
    font-family: 'Lato', sans-serif;
    min-height:100vh;
    padding: 50px;
    color:#485460;
    background-color: #FFFFFF;
}
/* Color Theme Swatches in Hex */
.Illustration-1-hex { background-color: #F2F2F2; }
.Illustration-2-hex { background-color: #BF8360; }
.Illustration-3-hex { background-color: #F22ED2; }
.Illustration-4-hex { background-color: #F2059F; }
.Illustration-5-hex { background-color: #F20587; }
.square{
    width:50px;
    height:50px;
    display:inline-block;
}
/* Home page */
.header {
    display:flex;
    justify-content: center;
    margin: 30px auto 60px auto;
    max-width: 1140px;
}
.header__title{
    background-color: #BF8360;
    color: #F2F2F2;
    padding: 20px 50px;
    border-radius: 10px;
}
.title {
    font-family: dancingScript;
}
.main {
    max-width: 1140px;
    margin:auto;
}
.albumList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 30px;
}
.album{
    border-radius: 10px;
    width: 200px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F2059F;
    color: #F2F2F2;
    transition: 0.15s;
    border: solid 5px #F20587;
}
.album:hover{
    background-color:#F2F2F2;
    color: #F2059F;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.album__title{
    font-family: dancingScript;
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

/* Album page */
.transformation-inclination{
    transform-origin: left;
    transition: 0.15s;
    transition-delay: 0.4s;
    transition-timing-function: ease-in-out;
}
.transformation-inclination:hover{
    transform: rotate(3deg);
}
.header__nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
    width: 100%;
}
.header__navLeft, .header__navRight {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
 }
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery__card{
    margin: 5px;
}
#overlay {
      position: fixed; /* Sit on top of the page content */
      display: none; /* Hidden by default */
      width: 100%; /* Full width (cover the whole page) */
      height: 100%; /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5); /* Black background with opacity */
      z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer; /* Add a pointer on hover */
}
.overlay__content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.header__navItem{
    padding: 8px 16px;
    border: solid 3px;
    border-radius: 30px;
    border-color: #F20587;
    background-color: #F2F2F2;
    color: #F22ED2;
    transition: 0.2s;
    font-weight: bold;
    font-size: 16px;
}
.header__navItem:hover{
    background-color: #F2059F;
    color: #F2F2F2;
}